<div id="stellmar-hours">
    <div class="mx-auto">

        <div class="flex-none lg:flex lg:justify-center">
            <div class="p-8 lg:px-16 text-sf-grey-700">
                <h5 class="font-semibold text-sf-grey-900 pb-4 uppercase">Address & Hours</h5>
                    <div class="text-sm">
                        <p>136 Sand Bar Rd.</p>
                        <p>Little Britain, ON K0M 2C0</p>
                    </div>
                <ul class="pt-4 text-sm">
                    <li class="flex justify-between">
                        <div>Monday</div>
                        <div>Closed</div>
                    </li>
                    <li class="flex justify-between">
                        <div>Tuesday</div>
                        <div>Closed</div>
                    </li>
                    <li class="flex justify-between">
                        <div>Wednesday</div>
                        <div>Closed</div>
                    </li>
                    <li class="flex justify-between">
                        <div>Thursday</div>
                        <div>Closed</div>
                    </li>
                    <li class="flex justify-between">
                        <div>Friday</div>
                        <div>Noon-5pm</div>
                    </li>
                    <li class="flex justify-between">
                        <div>Saturday</div>
                        <div>10am-5pm</div>
                    </li>
                    <li class="flex justify-between">
                        <div>Sunday</div>
                        <div>10am-5pm</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>